/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Add this code for Remove default padding and margin from the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Here added some code in body section  --- Set font-family within body means it will inherit all the
elements presents within body tag 
*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* Adding 30px padding entire body */

  padding: 30px;
}

/* in header we will use background images  */

.header {
  height: 95vh;
  /* To create forground image with gradient we need to use linear gradiant 
  before image url with "Background-image" property + Also adding gradiant with opacity*/
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  /* bg position top is important for responsiveness */
  background-position: top;
  /* Here is the clicp path propery to shape the header BG or any other shape og BG
        polygon(xy, xy, xy, xy) ----------> x is coordination of x axis and y is coordination of y axis 

        ******* to use automatic clip path go to this site -- https://bennettfeely.com/clippy/
    */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

/* header part-2 */
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

/* Adding headeing Title on hero section */
.text__box {
  /* Here in this code we can keep element center by using div with absoulote positioning 
  ----- We need to remember transform - translate (x,y) - x,y is depending on top/right/left/bottom   
  */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading__primary {
  color: #fff;
  text-transform: uppercase;
  /* use below code for smooth animation related with text div */
  backface-visibility: hidden;
}
.heading__primary__main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* Apply animation here  */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading__primary__sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Apply move right animation */

  /* Can write animation in one line 
   ===== animation: moveInRight 1s ease-out; ===== 
  */

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* header part-3 -- adding some small animation using @keyframe*/

/* To wirte animation follow codes below  */

@keyframes moveInLeft {
  /* input 0% to 100% time frame rate and mention what functionality will apply  */

  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  /* input 0% to 100% time frame rate and mention what functionality will apply  */

  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
