//  Here we will generally keep all tha base css property aor we can say basic css code will be here 


/* Add this code for Remove default padding and margin from the page */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* here we can calculate this dynamically (10/16)*100% = 62.5% */
  font-size: 62.5%;
}

body{
    box-sizing: border-box;
}